//src/app.scss

@import "./custom";

/* ----------------------------------------------------------------------------------------------- Global -----------------------------------------------------------------------------------------------*/

$border-size: 1.5px;

.theme-bg{
    background-color: $theme-color2;
    background: $gradient2;
}

.theme-variant{
    color: $theme-accent1;
}

*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

html{
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
    font-size: 10px;
    background: $theme-color2;
    background: linear-gradient(180deg, $theme-color2 5%, $theme-color1 90%);
    color: $theme-accent2;
    height: 100%;
    overflow: auto;

}

body{
    background-color: transparent;   
    height: 100%;
}

main{   
    height: 120vh;
    position: relative;
    overflow: scroll;
    min-height: max-content;
}

#bookmark-ui{
    height: 120vh;
    min-height: max-content;
    margin-bottom: 20rem;
    overflow: scroll;
}

#header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        color: $theme-accent1;
        font-size: 5rem;
    }

    h2{
        color: $theme-accent1;
    }

    img{
        // padding-top: 0.5rem;
        height: 10rem;
        width: auto;
        opacity: 30%;
    }

    #logo{
        height: 20vh;
        width: auto;
        opacity: 100%;
    }
    

}

#body-header-welcome{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;

    #body-header-welcome-title{
        text-align: center;
        color: $theme-accent1;
        font-size: 4rem;
        margin: 0 3rem;
    }

    #chain-welcome{
        height: 20vw;
        width: auto;
        opacity: 10%;
    }

}

.jumbotron{

    position: relative;
    $theme-accent4: rgba(124, 6, 6, 0.4);
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
    background: $gradient1;
    text-align: center;
    // border-bottom: 1.5px solid darken($theme-accent4, 7%);
    
    
}

.navbar{

    position: relative;
    $theme-accent4: rgba(124, 6, 6, 0.75);
    box-shadow: 0 5px 20px -5px darken($theme-accent4, 15%);
    border-radius: 5px;
    display: flexbox;
    justify-content: space-between;

    span{
        font-size: 2.8rem;
    }
    
    button{

        height: 5rem;
        width: 5vw;
        border: {
            top: $border-size;
            bottom: $border-size;
            left: $border-size;
            right: $border-size;
            color: $theme-color2;
            style: solid;
            radius: 10px;
        }

    }

    #greeting{

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 4rem;

        img{

            height: 5rem;
            width: auto;
            margin-right: 2rem;

        }

    }

    #nav-text{
        color: $theme-accent1;
    }
    
    .navButtons-logged-out, .navButtons-logged-in{
        display: flex;
        justify-content: space-between;
    }

    .navButtons-logged-out{
        margin: auto;
        width: 28rem;
    }

    .navButtons-logged-in{
        width: 35rem;
    }

    .login, .signup, .new-bkmrk, .new-fldr, .logout{
        font-size: 1.8rem;
        background: $gradient1;
        width: 10rem;
        height: 5.5rem;
        
        &:hover, &:focus, &:active{
            border-color: $theme-accent2;
        }

        &:click{
            border-color: green;
        }
    }

    .new-bkmrk, .new-fldr, .logout{
        font-size: 1.5rem;
    }

}

.modal{
    $theme-color1: rgba(0,0,0, 0.5);
    background: $theme-color1;
}

.modal-content{
    
    $border-size: $border-size + 0.5px;
    @extend .theme-bg;
    margin-top: 20vh;
    padding: 1rem;
    border-radius: 5px;
    
    color: $theme-accent1;
    box-shadow: 0 0 18px -2px darken($theme-accent4, 7%);
    
    .modal-header{

        border: 0;
            
        .modal-title{
            font-size: 3rem;
        }
        
        .close{
            font-size: 3rem;
        }

    }

    
    .modal-body{
            

        label{
            margin-top: 2rem;
            font-size: 1.5rem;
        }

        input textarea{
            margin-top: 0.5rem;
            font-size: 1.5rem;
        }

        textarea{
            margin-bottom: 2rem;;
        }

        #new-bkmrk-btns{
            margin:0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        button{

            

            font-size: 1.5rem;
            border-radius: 8px;
            

            border: {
                top: $border-size;
                bottom: $border-size;
                left: $border-size;
                right: $border-size;
                color: $theme-color2;
                style: solid;
                radius: 10px;
            }

            &:hover, &:focus, &:active{
                border-color: $theme-accent2;
            }

        }

        #close-new-bkmrk{
            background: $theme-accent4;
            padding: 0.5rem 1.2rem;
        }

        #submit-new-bkmrk{
            background-color: green;
        }

        .form-label{
            font-size: 2.5rem;
            
        }

        .form-control{
            font-size: 1.5rem;
        }

    }

}

.btn-primary{
    border: none;
}

#loginForm-btns,#signUpForm-btns{
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#close-loginForm{
    background: $theme-accent4;
    padding: 0.5rem 1.2rem;
}

#submit-loginForm, #submit-signUpForm{
    background-color: green;
}

#close-signUpForm{
    background: $theme-accent4;
    padding: 0.6rem 1.4rem;
}

#body-header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #body-header-title{
        margin-top: 3rem;
        color: $theme-accent1;
        font-size: 4rem;
    }

    #search-bar{
        margin: 1.5rem 0 3rem 0;
        width: 25vw;
    }
}


.accordion{

    margin: 0 0.6rem;
    

    .bookmark-header{
        
        $gradient1: linear-gradient(180deg, rgba(34,34,34, 0.8) 40%, rgba(35,35,35,0.8) 48%, rgba(25,25,25,0.8) 70%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        background: $gradient1;
        border-radius: 9px;
        box-shadow: 0 2px 20px -10px darken($theme-accent4, 10%);
        margin-bottom: 0.4rem;

        &:hover{
            cursor: pointer;
        }

        h2, span{ 
            color: $theme-accent1;
        }

        a{
            color: $theme-accent1;
        }

        h2, a{
            font-size: 3rem;

            &:hover{
                font-size: 3.05rem;
            }
        }

        .bookmark-name:hover{
            cursor: pointer;
            color: $theme-accent2;

        }

        a:hover{
            text-decoration: none;
            color: lighten($theme-accent2, 2%);
            text-decoration: underline;
        }

        div{
            display: flex;
            justify-content: space-beween;
            align-items: center;
            width: 15rem;

            .settings{
                font-size: 3.5rem;
            }

            .dropdown{
                font-size: 7rem;
                padding: -2rem;

            }

            .material-icons{
                    
                    &:hover{
                        color: $theme-accent2;
                        cursor: pointer;
                    }
            }

        }
    }

    .card-body{
        background: $gradient2;
        margin-bottom: 0.8rem;
        border-radius: 0 0 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        h3{
            font-size: 2.7rem;
        }

        $theme-color1: rgba(0, 0, 0, 0.1);

        .card-comment{
            
            .comment{
                flex-grow: 5;
                width: 70vw;
                word-wrap: break-word;
                background: $theme-color1;
                color: $theme-accent1;
                padding: 1.5rem;
                margin-top: 1rem;
                margin-right: 2rem;
                border-radius: 10px;
                font-size: 1.8rem;

            }

        }

        .card-info{
            align-self: center;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;
            height: 100%;
            

            p{
                color: $theme-accent1;
            }

            .card-tags{
                
                flex-basis: 10rem;

                p{
                    background: $theme-color1;
                    border-radius: 10px;
                    margin-bottom: 4rem;
                    width: 25vw;
                    font-size: 2rem;
                    padding: 1.5rem;
                }
            }

            .card-stats{
                background: $theme-color1;
                border-radius: 10px;
                flex-basis: 20rem;
                width: 25vw;
                padding: 1.5rem;
                
                p{
                    font-size: 2rem;
                }
            }

            

        }
    }
}

/* ----------------------------------------------------------------------------------------------- Media Queries -----------------------------------------------------------------------------------------------*/


@media (max-width: 850px){

    #header{

        h1{
            font-size: 4rem;
        }

        h2{
            font-size: 1.5rem;
        }

        img{
            height: 5rem;
        }
    }

    .navbar{

        span{
            font-size: 2.4rem;
        }

        .navButtons-logged-in{
            width: 30rem;
        }

        .login, .signup{
            font-size: 1.5rem;
            width: 8rem;
            height: 5rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 1.3rem;
            width: 9rem;
            height: 5.2rem;
        }

    }

    .accordion{
        .bookmark-header{

            h2, a{
                font-size: 2.2rem;

                &:hover{
                    font-size: 2.25rem;
                }
            }
        }
    }

}


@media (max-width: 650px){

    #header{

        h1{
            font-size: 3rem;
        }

        img{
            height: 4rem;
        }
    }

    .navbar{

        span{
            font-size: 2rem;
            text-align: center;
        }


        .navButtons-logged-out{
            width: 23rem;
        }

        .navButtons-logged-in{
            width: 25rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 1rem;
            width: 7rem;
            height: 5rem;
        }

        .login, .signup{
            font-size: 1.5rem;
            width: 8rem;
            height: 4.5rem;
        }

    }

    .accordion{

        .bookmark-header{

            h2, a{
                
                
                font-size: 1.9rem;

                &:hover{
                    font-size: 1.95rem;
                }

            }

            a{
                justify-self: center;
                align-self: center;
                margin: auto;
            }

            
            div{
                
                justify-content: flex-end;
                width: auto;

                .settings{
                    font-size: 2.2rem;
                    border: 0;
                }

                .dropdown{
                    font-size: 4.5rem;
                }

            }
        }
    }
}


@media (max-width: 500px){
    
    .jumbotron{
        padding: 2rem;
    }

    #header{

        h1{
            font-size: 2.5rem;
        }

        h2{
            display: none;
        }

        img{
            height: 3rem;
        }
    }

    .navbar{

        flex-direction: column;
        text-align: center;
        padding: 1rem;

        span{
            font-size: 2.3rem;
        }

        #arrow{
            display: none;
        }


        .navButtons-logged-out{
            width: 19rem;
        }

        .navButtons-logged-in{
            margin-top: 1.2rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 1rem;
            width: 7rem;
            height: 5rem;
        }


        .login, .signup{
            font-size: 1.3rem;
            width: 7rem;
            height: 4.5rem;
        }

    }

}


@media (max-width: 300px){

    #header{
        
        h1{
            font-size: 2rem;
        }

        img{
            height: 2rem;
        }

    }

}