//src/app.scss

@import "./custom";

/* ----------------------------------------------------------------------------------------------- Global -----------------------------------------------------------------------------------------------*/

$border-size: 1.5px;

.theme-bg{
    background-color: $theme-color2;
    background: $gradient2;
}

.theme-variant{
    color: $theme-accent1;
}

*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

html{
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
    font-size: 10px;
    background: $theme-color2;
    background: linear-gradient(180deg, $theme-color2 5%, $theme-color1 90%);
    color: $theme-accent2;
}

body{
    background-color: $theme-color2;
}

#header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        color: $theme-accent1;
        font-size: 5rem;
    }

    h2{
        color: $theme-accent1;
    }

    img{
        // padding-top: 0.5rem;
        height: 8rem;
        width: auto;
    }

}

.jumbotron{

    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
    background: $gradient1;
    text-align: center;

}

.navbar{

    border-radius: 5px;
    display: flexbox;
    justify-content: space-between;

    span{
        font-size: 3rem;
    }
    
    button{

        height: 5rem;
        width: 5vw;
        border: {
            top: $border-size;
            bottom: $border-size;
            left: $border-size;
            right: $border-size;
            color: $theme-color2;
            style: solid;
            radius: 10px;
        }

    }

    #greeting{

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 4rem;

        img{

            height: 5rem;
            width: auto;
            margin-right: 2rem;

        }

    }

    #nav-text{
        color: $theme-accent1;
    }
    
    .navButtons{
        width: 28rem;
        display: flex;
        justify-content: space-between;
    }

    .login, .signup, .new-bkmrk, .new-fldr, .logout{
        font-size: 1.8rem;
        background: $gradient1;
        width: 10rem;
        height: 5.5rem;
        
        &:hover, &:focus, &:active{
            border-color: $theme-accent3;
        }

        &:click{
            border-color: green;
        }
    }

    .new-bkmrk, .new-fldr, .logout{
        font-size: 1.5rem;
    }

}

.modal{
    $theme-color1: rgba(0,0,0, 0.5);
    background: $theme-color1;
}

.modal-content{
    
    $border-size: $border-size + 1.5px;
    @extend .theme-bg;
    margin-top: 20vh;
    
    color: $theme-accent1;

    border: {

        top: $border-size;
        bottom: $border-size;
        left: $border-size;
        right: $border-size;
        color: $theme-color1;
        style: solid;
        radius: 10px;
    }
    
    .modal-header{

        border: 0;
            
        .modal-title{
            font-size: 3rem;
        }

    }

    
    .modal-body{
            
        label{
            margin-top: 2rem;
            font-size: 1.5rem;
        }

        input textarea{
            margin-top: 0.5rem;
            font-size: 1.5rem;
        }

        textarea{
            margin-bottom: 2rem;;
        }

        .close{
            font-size: 3rem;
        }

        #new-bkmrk-btns{
            margin:0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        button{

            $border-size: $border-size - 1.5px;

            font-size: 1.5rem;
            border-radius: 8px;
            

            border: {
                top: $border-size;
                bottom: $border-size;
                left: $border-size;
                right: $border-size;
                color: $theme-color2;
                style: solid;
                radius: 10px;
            }

            &:hover, &:focus, &:active{
                border-color: $theme-accent3;
            }

        }

        #close-new-bkmrk{
            background: $theme-accent2;
            padding: 0.5rem 1.2rem;
        }

        #submit-new-bkmrk{
            background-color: green;
        }

    }

}

.btn-primary{
    border: none;
}


/* ----------------------------------------------------------------------------------------------- Media Queries -----------------------------------------------------------------------------------------------*/


@media (max-width: 950px){

    .navbar{

        span{
            font-size: 2rem;
        }

        .navButtons{
            width: 18rem;
        }

        .login, .signup, .new-bkmrk, .new-fldr, .logout{
            font-size: 1.5rem;
            width: 8rem;
            height: 5rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 1.2rem;
        }

    }

}


@media (max-width: 850px){

    #header{

        h1{
            font-size: 4rem;
        }

        h2{
            font-size: 1.5rem;
        }

        img{
            height: 5rem;
        }
    }

    .navbar{

        .navButtons{
            width: 15rem;
        }

        .login, .signup, .new-bkmrk, .new-fldr, .logout{
            font-size: 1.2rem;
            width: 7rem;
            height: 5rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 1rem;
        }

    }

}


@media (max-width: 650px){

    #header{

        h1{
            font-size: 3rem;
        }

        img{
            height: 4rem;
        }
    }

    .navbar{

        span{
            font-size: 1.3rem;
        }

        .navButtons{
            width: 13rem;
        }

        .login, .signup, .new-bkmrk, .new-fldr, .logout{
            font-size: 1rem;
            width: 6rem;
            height: 4rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 0.8rem;
        }

    }
}


@media (max-width: 500px){
    
    #header{

        h1{
            font-size: 2.5rem;
        }

        h2{
            display: none;
        }

        img{
            height: 3rem;
        }
    }

    .navbar{

        flex-direction: column;
        text-align: center;

        #arrow{
            display: none;
        }

        .navButtons{
            width: 13rem;
        }

        .login, .signup, .new-bkmrk, .new-fldr, .logout{
            font-size: 1rem;
            width: 6rem;
            height: 4rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 0.8rem;
        }

    }

}


@media (max-width: 300px){

    #header{
        
        h1{
            font-size: 2rem;
        }

        img{
            height: 2rem;
        }

    }

}