// ./src/app.scss


@import "./custom";

/* ----------------------------------------------------------------------------------------------- Global -----------------------------------------------------------------------------------------------*/

$border-size: 1.5px;

.theme-bg{
    background-color: $theme-color2;
    background: $gradient2;
}

.theme-variant{
    color: $theme-accent1;
}

*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

html{
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
    font-size: 10px;
    background: $theme-color2;
    background: linear-gradient(180deg, $theme-color2 5%, $theme-color1 90%);
    color: $theme-accent2;
    height: 100%;

}

body{
    background-color: transparent;   
    height: 100%;
}

main{   
    height: 120vh;
    position: relative;
    overflow-y: scroll;
    min-height: max-content;
}

#bookmark-ui{
    height: 120vh;
    min-height: max-content;
    margin-bottom: 20rem;
}

#header h1{
    color: $theme-accent1;
    font-size: 5rem;
}

#header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        color: $theme-accent1;
        font-size: 5rem;
    }

    h2{
        color: $theme-accent1;
    }

    img{
        // padding-top: 0.5rem;
        height: 10rem;
        width: auto;
        opacity: 30%;
    }

    #logo{
        height: 20vh;
        width: auto;
        opacity: 100%;
    }
    

}

#body-header-welcome{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;

    #body-header-welcome-title{
        text-align: center;
        color: $theme-accent1;
        font-size: 4rem;
        margin: 0 3rem;
    }

    #chain-welcome{
        height: 20vw;
        width: auto;
        opacity: 10%;
    }

}

.jumbotron{

    position: relative;
    $theme-accent4: rgba(124, 6, 6, 0.4);
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
    background: $gradient1;
    text-align: center;
    // border-bottom: 1.5px solid darken($theme-accent4, 7%);
    
    
}

.navbar{

    position: relative;
    $theme-accent4: rgba(124, 6, 6, 0.75);
    box-shadow: 0 5px 20px -5px darken($theme-accent4, 15%);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
        font-size: 2.8rem;
    }
    
    button{

        height: 5rem;
        width: 5vw;
        border: {
            top: $border-size;
            bottom: $border-size;
            left: $border-size;
            right: $border-size;
            color: $theme-color2;
            style: solid;
            radius: 10px;
        }

    }

    #greeting{

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 4rem;

        img{

            height: 5rem;
            width: auto;
            margin-right: 2rem;

        }

    }

    #nav-text{
        color: $theme-accent1;
    }
    
    .navButtons-logged-out, .navButtons-logged-in{
        display: flex;
        justify-content: space-between;
    }

    .navButtons-logged-out{
        margin: 0 auto;
        width: 28rem;
    }

    .navButtons-logged-in{
        width: 35rem;
    }

    .login, .signup, .new-bkmrk, .new-fldr, .logout{
        font-size: 1.8rem;
        background: $gradient1;
        width: 10rem;
        height: 5.5rem;
        
        &:hover, &:focus, &:active{
            border-color: $theme-accent2;
        }

        &:click{
            border-color: green;
        }
    }

    .new-bkmrk, .new-fldr, .logout{
        font-size: 1.5rem;
    }

}

.modal{
    $theme-color1: rgba(0,0,0, 0.5);
    background: $theme-color1;
}

.modal-content{
    
    $border-size: $border-size + 0.5px;
    @extend .theme-bg;
    margin-top: 5vh;
    padding: 1rem;
    border-radius: 5px;
    
    color: $theme-accent1;
    box-shadow: 0 0 18px -2px darken($theme-accent4, 7%);
    
    .modal-header{

        border: 0;
            
        .modal-title{
            font-size: 3rem;
            text-shadow: 0 2px 8px black;
        }
        
        .close{
            font-size: 3rem;
            text-shadow: 0 0 3px black;
            color: lighten($theme-accent1, 17%);
        }

    }

    
    .modal-body{
            

        label{
            margin-top: 2rem;
            font-size: 1.5rem;
            text-shadow: 0 0 4px black;
        }

        input, textarea{
            margin-top: 0.5rem;
            font-size: 1.5rem;
            box-shadow: 0 4px 8px -1px black;
        }

        textarea{
            margin-bottom: 1rem;
        }

        #bkmrk-input-btns{
            margin:0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        button{

            font-size: 1.5rem;
            border-radius: 8px;
            

            border: {
                top: $border-size;
                bottom: $border-size;
                left: $border-size;
                right: $border-size;
                color: $theme-color2;
                style: solid;
                radius: 10px;
            }

            &:hover, &:focus, &:active{
                border-color: $theme-accent2;
            }

        }

        #close-bkmrk-input{
            background: $theme-accent4;
            padding: 0.5rem 1.2rem;
        }

        #submit-bkmrk{
            background-color: green;
            padding: 0.5rem 1rem;
        }

        .form-label{
            font-size: 2.5rem;
            
        }

        .form-control{
            font-size: 1.5rem;
        }

        #tag-area{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: 10rem;
            padding-top: 2rem;
            
            .modal-tag{
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                color: $theme-accent1;
                min-width: 5rem;
                margin-right: 2rem;
                margin-top: 1rem;
                background: $gradient1;
                border-radius: 5px;
                padding: 1rem;
                text-transform: capitalize;
                box-shadow: 0 1px 6px -2px darken($theme-accent4, 15%);

                &:hover{
                    cursor: pointer;
                    color: $theme-accent2;
                    font-size: 1.7rem;
                    font-weight: bold;
                    box-shadow: 0 1 6px -1px $theme-accent2;
                }

                #search-delete, .material-icons{

                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                    margin-left: 0.5rem;

                    &:hover{
                        font-size: 2.2rem;
                    }

                }
            }
        }
    }
}

.btn-primary{
    border: none;
}

#loginForm-btns,#signUpForm-btns{
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#close-loginForm{
    background: $theme-accent4;
    padding: 0.5rem 1.2rem;
}

#submit-loginForm, #submit-signUpForm{
    background-color: green;
}

#close-signUpForm{
    background: $theme-accent4;
    padding: 0.6rem 1.4rem;
}

#body-header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #body-header-title{
        margin-top: 2.5rem;
        color: $theme-accent1;
        font-size: 4rem;
        text-align: center;
        text-shadow: -2px 1px 3px darken($theme-accent3, 5%);
    }

    #search-bar{
        $theme-accent4: rgba(124, 6, 6, 1);
        margin: 1.5rem 0 3rem 0;
        width: 25vw;
        font-size: 1.5rem;
        box-shadow: 0 1px 6px -2px darken($theme-accent4, 18%);
    }

    .search-form{
        display: flex;
        align-items: baseline;

        #search-button{
            height: 3.5rem;
            font-size: 1.8rem;
            margin-left: 1rem;
            background: $gradient2;
            box-shadow: -1px 2px 2px darken(grey, 20%);

            &:hover{
                font-size: 2rem;
                color: $theme-accent2;
            }
        }



    }
}


.accordion{

    margin: 0 0.6rem;
    
    h3{
        text-shadow: -1px 1px rgba(55, 55, 55, 0.6);
    }
    

    .bookmark-header{
        
        $gradient1: linear-gradient(180deg, rgba(34,34,34, 0.8) 40%, rgba(35,35,35,0.8) 48%, rgba(25,25,25,0.8) 70%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        background: $gradient1;
        border-radius: 9px;
        box-shadow: 0 2px 20px -10px darken($theme-accent4, 10%);
        margin-bottom: 0.4rem;

        &:hover{
            cursor: pointer;
        }

        h2, span{ 
            color: $theme-accent1;
        }

        h2{
            width: 14rem;
            font-size: 2.5rem;
        }

        .bookmark-link{
            color: $theme-accent1;
            text-align: center;
            font-size: 3rem;

            &:hover{
                font-size: 3.05rem;
            }
        }
        
        .bookmark-name{

            text-transform: capitalize;

            &:hover{
                cursor: pointer;
                color: $theme-accent2;
            }
        }

        .bookmark-link:hover{
            text-decoration: none;
            color: lighten($theme-accent2, 2%);
            text-decoration: underline;
        }

        .bookmark-icons{
            display: flex;
            justify-content: space-around;
            align-items: center;

            .settings{
                font-size: 3.5rem;
            }

            .dropdown{
                font-size: 7rem;
            }

            .material-icons{
                    
                    &:hover{
                        color: $theme-accent2;
                        cursor: pointer;
                    }
            }

        }
    }

    .card-body{
        background: $gradient2;
        margin-bottom: 0.8rem;
        border-radius: 0 0 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        h3{
            font-size: 2.7rem;
        }

        $theme-color1: rgba(0, 0, 0, 0.1);

        
            
            .card-main{

                .card-comment{

                    .comment{
                        flex-grow: 5;
                        width: 70vw;
                        word-wrap: break-word;
                        background: $theme-color1;
                        color: $theme-accent1;
                        padding: 1.5rem;
                        margin-top: 1rem;
                        margin-right: 2rem;
                        border-radius: 10px;
                        font-size: 1.8rem;
                        box-shadow: 0 1px 6px -2px darken($theme-accent4, 18%);

                    }
                }

                .card-tags{
                        
                    flex-basis: 10rem;

                    .tag-container{

                        display: flex;
                        flex-wrap: wrap;

                        div{
                            background: $theme-color1;
                            border-radius: 10px;
                            margin-bottom: 4rem;
                            width: auto;
                            height: auto;
                            font-size: 2rem;
                            padding: 1.5rem;
                            color: $theme-accent1;
                            margin-right: 2rem;
                            margin-bottom: 2rem;
                            min-width: 8rem;
                            text-align: center;
                            box-shadow: 0 1px 6px -2px darken($theme-accent4, 18%);

                            &:hover{
                                cursor: pointer;
                                color: $theme-accent2;
                                font-size: 2.3rem;
                                box-shadow: 0 0 4px -1px darken($theme-accent2, 2%);
                            }

                        }

                        .tag{
                            text-transform: capitalize;
                        }
                    }

                }
            }


        .card-info{
            align-self: center;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;
            height: 100%;
            

            p{
                color: $theme-accent1;
            }


            .card-stats{
                background: $theme-color1;
                border-radius: 10px;
                flex-basis: 20rem;
                width: 25vw;
                padding: 1.5rem;
                text-align: center;
                box-shadow: 0 1px 6px -2px darken($theme-accent4, 18%);
                
                p{
                    font-size: 2.2rem;
                    text-align: center;
                }
            }

            

        }
    }
}

.dropleft .dropdown-toggle::before{
    content: none;
}

.dropdown-menu{
    $gradient2: linear-gradient(180deg, rgba(60,60,60,0.7) 22%, rgba(30,30,30,0.7) 90%);
    display: flex;
    flex-direction: column;
    width: 20rem;
    background: $gradient2;
    box-shadow: 0 0 5px -1px darken($theme-accent4, 15%);
    
    .dropdown-item{
        font-size: 2rem;
        color: $theme-accent1;

        &:hover, &:focus {
            color: $theme-accent2;
            background: none; 
        }
    }
}




/* ----------------------------------------------------------------------------------------------- Media Queries -----------------------------------------------------------------------------------------------*/


@media (max-width: 850px){

    #header{

        h1{
            font-size: 4rem;
        }

        .chain{
            height: 5rem;
        }

        #logo{
            height: 6rem;
        }
    }

    .navbar{

        span{
            font-size: 2.4rem;
        }

        h2{
            width: 11.8rem;
        }

        .navButtons-logged-in{
            width: 30rem;
        }

        .login, .signup{
            font-size: 1.5rem;
            width: 8rem;
            height: 5rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 1.3rem;
            width: 9rem;
            height: 5.2rem;
        }

    }

    .accordion{
        .bookmark-header{

            h2{
                width: 11.3rem;
            }

            .bookmark-link{
                font-size: 2.2rem;

                &:hover{
                    font-size: 2.25rem;
                }
            }
        }
    }

}


@media (max-width: 650px){

    #header{

        h1{
            font-size: 3rem;
        }

        img{
            height: 4rem;
        }
    }

    .navbar{

        span{
            font-size: 2rem;
            text-align: center;
        }

        .navButtons-logged-out{
            width: 23rem;
        }

        .navButtons-logged-in{
            width: 25rem;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 1rem;
            width: 7rem;
            height: 5rem;
        }

        .login, .signup{
            font-size: 1.5rem;
            width: 8rem;
            height: 4.5rem;
        }

    }

    .accordion{

        .bookmark-header{

            h2{
                width: 11.3rem;
            }

            .bookmark-link{
                
                
                font-size: 1.9rem;

                &:hover{
                    font-size: 1.95rem;
                }

            }

            .bookmark-link{
                justify-self: center;
                align-self: center;
                margin: auto;
            }

            
            .bookmark-icons{
                
                justify-content: flex-end;
                width: auto;

                .settings{
                    font-size: 2.2rem;
                    border: 0;
                }

                .dropdown{
                    font-size: 4.5rem;
                }

            }
        }
    }
}


@media (max-width: 500px){
    
    .jumbotron{
        padding: 2rem;
        display: flex;
        justify-content: center;
    }

    #header{

        h1{
            font-size: 2.5rem;
        }

        h2{
            display: none;
        }

        img{
            height: 3rem;
        }

        .chain{
            display: none;
        }

        #logo{
            margin: auto;
        }
    }

    .navbar{

        flex-direction: column;
        text-align: center;
        padding: 1rem;

        span{
            font-size: 2.3rem;
        }

        h2{
            width: 8rem;
        }

        #arrow{
            display: none;
        }


        .navButtons-logged-out{
            width: 19rem;
        }

        .navButtons-logged-in{
            margin-top: 1.2rem;
            width: 50vw;
        }

        .new-bkmrk, .new-fldr, .logout{
            font-size: 1rem;
            width: 7rem;
            height: 5rem;
        }


        .login, .signup{
            font-size: 1.3rem;
            width: 7rem;
            height: 4.5rem;
        }

    }

    .accordion{

        .bookmark-header{

            justify-content: space-between;

            h2{
                width: 0;
            }

            .bookmark-icons{
                display: none;
            }

            .bookmark-link{
                text-align: right;
                width: 0;
            }
     
        }
    }

}


@media (max-width: 300px){

    #header{
        
        h1{
            font-size: 2rem;
        }

        img{
            height: 2rem;
        }

    }

    .navbar{

        .navButtons-logged-in{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #greeting{
            display: flex;
            flex-direction: column;
        }

    }
}