// /src/custom.scss
@import "./theme";

$gradient1: linear-gradient(180deg, rgba(34,34,34,1) 22%, rgba(35,35,35,1) 30%, rgba(25,25,25,1) 70%);
$gradient2: linear-gradient(180deg, rgba(80,80,80,1) 22%, rgba(48,48,48,1) 90%);

$jumbotron-bg: $theme-color1;
$jumbotron-padding: 0.8rem;

$navbar-padding-y: 2rem;
$navbar-padding-x: 3rem;

$primary: $theme-accent3;

$none: rgba(0,0,0,0);

$custom-control-indicator-border-color: $none;
$custom-control-indicator-checked-bg: $none;
$custom-control-indicator-focus-border-color: $none;
$custom-control-indicator-checked-border-color: $none;
$custom-control-indicator-active-border-color: $none;
$custom-control-indicator-active-color: $none;
$custom-control-indicator-active-bg: $none;
$component-active-bg: $none;
$component-active-color: $none;
$input-focus-border-color: $none;
$custom-checkbox-indicator-indeterminate-border-color: $none;
$custom-checkbox-indicator-indeterminate-bg: $none;
$custom-select-focus-border-color: $none;
$custom-select-focus-border-color: $none;
$input-focus-border-color: $none;

@import "~bootstrap";

