// /src/custom.scss

$theme-color1: rgba(0, 0, 0, 1);
$theme-color2: rgba(50,50,50, 1);
$theme-accent1: rgb(185, 180, 180);
$theme-accent2: rgb(1,0,68);
$theme-accent3: rgb(102, 78, 10);
$theme-accent4: rgba(124, 6, 6, 1);